.app {
  height: 100vh;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.app__container {
  display: flex;
  flex-direction: column;
  grid-column: 2/12;
}
.app__container-editor {
  display: flex;
}
.app__container-text {
  margin-right: 30px;
}
.app__container-control {
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 5px;
}
.app__container-control > button {
  color: white;
}
.app__container-control-red {
  background-color: red;
}
.app__container-control-yellow {
  background-color: yellow;
  color: black !important;
}
.app__container-control-green {
  background-color: green;
}
.app__container-control-white {
  background-color: white;
  color: black !important;
}
.app__container-control-add {
  background-color: cornflowerblue;
}
.app__container-note {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.app__container-note__btn {
  background-color: rgb(98, 152, 17);
  border: unset;
}
.app__container-note__help {
  color: rgb(234, 58, 58);
  margin: 5px 0;
}
